/* Write your CSS here */

.about-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.image-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.mobilePage-display {
  width: 80%;
  max-width: 468px;
}

@media screen and (min-width: 768px) {
  .mobilePage-display {
    display: none;
  }
}

.desktop-display {
  width: 100%;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .desktop-display {
    display: none;
  }
}
